@font-face {
  font-family: "Good Times";
  src: url("@/assets/fonts/Good Times 400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.good-times {
  font-family: "Good Times", sans-serif;
}
