@import "tailwindcss";
@import "@/assets/styles/fonts.css";

button {
  background: linear-gradient(135deg, #f97316, #ec4899);
  color: white !important;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}
.button2 {
  background: white;
  color: white !important;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}
.gradient-border {
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #f97316, #ec4899) 1;
}
